<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/style.css">
    <title>FRAYNEWS</title>
</head>
<body id="uma-coluna" class="internacional">
    <div  id="container">
        <div id="topo">
            <h1 class="logo">Notícias Fraiburgo</h1>
            <ul id="navegacao">
                <li class="primeiro">
                    <a id="home" href="index.html">Home</a>
                </li>
                <li>
                    <a id="brasil" href="brasil.html">BRAZIL</a>
                </li>
                <li>
                    <a id="internacional" href="">Internacional</a>
                </li>
                <li>
                    <a id="economia" href="economia.html">Economia</a>
                </li>
                <li>
                    <a id="saude" href="">Saúde</a>
                </li>
                <li>
                    <a id="ciencia" href="">Ciência</a>
                </li>  
                <li>
                    <a id="fotos" href="">Fotos</a>
                </li> 
            </ul>
        </div>
        <div id="conteudo">
            <div id="primario">
                <div class="caixa-destaque">
                    <h2>Destaque</h2>
                    <div class="caixa-conteudo">
                        <h3 class="titulo-h3">Nova Legislação</h3>
                        <img class="imagem-principal" src="../Assets/Imagens/taxi.jpg" alt="" width="100%">
                        <p>Chega ao Brasil uma nova legislação do trânsito provinda da legislação
                            Francesa
                        </p>
                        <a href="">Leia mais...</a>
                    </div>
                </div>
                <div class="caixa">
                    <h2>Mundo</h2>
                    <div class="caixa-conteudo">
                        <ul class="lista-noticias">
                            <li>
                                <a href="">
                                     <img src="../Assets/Imagens/tecnologia.jpg" alt="" width="80">
                                     <h3>Novas Tecnologias</h3>
                                     <p>As novas tecnologias estão explodindo neste novo mundo</p>
                            </a>
                            </li>
                            <li>
                                <a href="">
                                     <img src="../Assets/Imagens/taxi.jpg" alt="" width="80">
                                     <h3>Tarifa de Taxi aumenta 80%</h3>
                                     <p>O preço do taxi vai as alturas nesse começo de ano</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                     <img src="../Assets/Imagens/cidade.jpg" alt="" width="80">
                                     <h3>Construção em Fraiburgo</h3>
                                     <p>O prefeito de Fraiburgo se garantiu em melhorar
                                   o asfaltamento da cidade</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                     <img src="../Assets/Imagens/doutor.jpg" alt="" width="80">
                                     <h3>A nova variante do Corona Vírus</h3>
                                     <p>Na última sexta-feira o Dr.Danilo comentou sobre a nova variante</p>
                                </a>    
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>